@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.custom-transition {
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-slider {
   width: 98%;
}
.hidden-nav {
  transform: translateY(-100%);
}
.tr{
  transition: max-height 0.5s ease;
}

@media screen and (max-width: 911px) {
  .slick-slider{
    width: 97%;
  }
}
@media screen and (max-width: 773px) {
  .slick-slider{
    width: 95%;
  }
}
@media screen and (max-width: 478px) {
  .slick-slider{
    width: 93%;
  }
  .slick-track{
    height: 220px;
  }
}
@media screen and (max-width: 281px) {
  .slick-slider{
    width: 90%;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #000000; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.fixing{
  left: 60px;
  top: -30px;
}
@media screen and (min-width: 320px) {
  .fixing{
    left: 70px;
  }
}
@media screen and (min-width: 375px) {
  .fixing{
    left: 95px;
  }
}
@media screen and (min-width: 470px) {
  .fixing{
    left: 130px;
  }
}
@media screen and (min-width: 600px) {
  .fixing{
    left: 170px;
  }
}
@media screen and (min-width: 730px) {
  .fixing{
    left: 210px;
  }
}
@media screen and (min-width: 790px) {
  .fixing{
    left: 210px;
    top: -50px;
  }
}
@media screen and (min-width: 960px) {
  .fixing{
    left: 280px;
    top: -50px;
  }
}
@media screen and (min-width: 1380px) {
  .fixing{
    left: 380px;
    top: -60px;
  }
}
@media screen and (min-width: 1840px) {
  .fixing{
    left: 530px;
    top: -90px;
  }
}
@media screen and (min-width: 2540px) {
  .fixing{
    left: 730px;
    top: -90px;
  }
}
.fixing2{
  left: 150px;
  top: -45px;
}
@media screen and (min-width: 320px){
  .fixing2{
    left: 200px;
  }
}
@media screen and (min-width: 375px){
  .fixing2{
    left: 250px;
  }
}
@media screen and (min-width: 440px){
  .fixing2{
    left: 290px;
  }
}
@media screen and (min-width: 500px){
  .fixing2{
    left: 340px;
  }
}
@media screen and (min-width: 570px){
  .fixing2{
    left: 390px;
  }
}
@media screen and (min-width: 647px){
  .fixing2{
    left: 410px;
  }
}
@media screen and (min-width: 700px){
  .fixing2{
    left: 90vh;
  }
}
@media screen and (min-width: 700px){
  .fixing2{
    left: 470px;
  }
}
@media screen and (min-width: 790px){
  .fixing2{
    left: 530px;
    top: -70px;
  }
}
@media screen and (min-width: 900px){
  .fixing2{
    left: 610px;
    top: -70px;
  }
}
@media screen and (min-width: 1000px){
  .fixing2{
    left: 690px;
    top: -80px;
  }
}
@media screen and (min-width: 1170px){
  .fixing2{
    left: 790px;
    top: -80px;
  }
}
@media screen and (min-width: 1340px){
  .fixing2{
    left: 890px;
    top: -90px;
  }
}
@media screen and (min-width: 1480px){
  .fixing2{
    left: 990px;
    top: -130px;
  }
}
@media screen and (min-width: 1780px){
  .fixing2{
    left: 1150px;
    top: -150px;
  }
}
@media screen and (min-width: 2000px){
  .fixing2{
    left: 1350px;
    top: -150px;
  }
}
@media screen and (min-width: 2300px){
  .fixing2{
    left: 1550px;
    top: -150px;
  }
}
@media screen and (min-width: 2300px){
  .fixing2{
    left: 1550px;
    top: -150px;
  }
}
@media screen and (min-width: 2550px){
  .fixing2{
    left: 1620px;
    top: -150px;
  }
}
.fixing3{
  left: 220px;
  top: -70px;
}
@media screen and (min-width: 320px){
  .fixing3{
    left: 260px;
  }
}
@media screen and (min-width: 340px){
  .fixing3{
    left: 280px;
  }
}
@media screen and (min-width: 372px){
  .fixing3{
    left: 310px;
  }
}
@media screen and (min-width: 400px){
  .fixing3{
    left: 340px;
    top: -90px;
  }
}
@media screen and (min-width: 430px){
  .fixing3{
    left: 85%;
  }
}
@media screen and (min-width: 773px){
  .fixing3{
    top: -140px;
  }
}
@media screen and (min-width: 1027px){
  .fixing3{
    top: -180px;
  }
}

@media screen and (min-width: 1289px){
  .fixing3{
    top: -220px;
  }
}
@media screen and (min-width: 1536px){
  .fixing3{
    top: -300px;
  }
}